<div id="container">
  <div class="title">Babysitting Wage Calculator</div>

  <div class="fields-container">
    <span>If my babysitting shift is from </span>
    <input id="start" type="text" [(ngModel)]="startTime" [textMask]="{ mask: timeMask }" [placeholder]="timePlaceholder" (ngModelChange)="checkFieldsForCalculation()">
    <span> to </span>
    <input id="end" type="text" [(ngModel)]="endTime" [textMask]="{ mask: timeMask }" [placeholder]="timePlaceholder" (ngModelChange)="checkFieldsForCalculation()">
  </div>

  <div class="fields-container">
    <span> and I put them to bed at </span>
    <input id="bed" type="text" [(ngModel)]="bedTime" [textMask]="{ mask: timeMask }" [placeholder]="timePlaceholder" (ngModelChange)="checkFieldsForCalculation()">
  </div>

  <div class="bill-label">
    <span>I will make...</span>
  </div>
  <div>
    <span id="bill-amount" [ngClass]="{ show: showBill }">${{ bill }}</span>
  </div>
</div>