<div id="container">
  <div class="title">Babysitting Wage Calculator</div>

  <div class="fields-container">
    <span>If my babysitting shift is from </span>
    <select id="start" [(ngModel)]="startTime" (ngModelChange)="checkFieldsForCalculation()">
      <option disabled [value]="undefined">start</option>
      <option *ngFor="let hour of availableHours" [value]="getDropdownValue(hour)">{{ hour }}</option>
    </select>
    <span> to </span>
    <select id="end" [(ngModel)]="endTime" (ngModelChange)="checkFieldsForCalculation()">
      <option disabled [value]="undefined">end</option>
      <option *ngFor="let hour of availableHours" [value]="getDropdownValue(hour)">{{ hour }}</option>
    </select>
  </div>

  <div class="fields-container">
    <span> and I put them to bed at </span>
    <select id="bed" [(ngModel)]="bedTime" (ngModelChange)="checkFieldsForCalculation()">
      <option disabled [value]="undefined">bed</option>
      <option *ngFor="let hour of availableHours" [value]="getDropdownValue(hour)">{{ hour }}</option>
    </select>
  </div>

  <div class="bill-label">
    <span>I will make...</span>
  </div>
  <div>
    <span id="bill-amount" [ngClass]="{ show: showBill }">${{ bill }}</span>
  </div>
</div>